/* Stile generale */
body {
  font-family: 'Arial', sans-serif;
  background-color: #dfe6ee; /* Sfondo più scuro per far risaltare il foglio */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contenuto centrale effetto "foglio" */
.content-box {
  background-color: white;
  width: 80%;
  max-width: 900px;
  padding: 40px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4); /* Ombra più marcata */
  border: 1px solid #ccc; /* Bordo sottile per dare il senso di un foglio */
}

/* Navbar */
.navbar {
  width: 100%;
  padding: 15px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.navbar-brand {
  font-size: 1.75rem; /* Testo più grande */
  font-weight: bold;
  color: white !important;
  text-align: center;
}


.navbar-nav .nav-link {
  font-size: 1.5rem; /* Aumenta la dimensione del testo */
  font-weight: bold;
  padding: 10px 20px; /* Spaziatura migliore */
}

.navbar-nav {
  display: flex;
  justify-content: center; /* Centra i link orizzontalmente */
  align-items: center; /* Allinea verticalmente */
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.logo-navbar {
  height: 50px; /* Regola l'altezza del logo */
  width: auto; /* Mantiene le proporzioni */
  max-width: 150px; /* Limite massimo per evitare che diventi troppo grande */
}


/* Titoli */
.title {
  font-size: 2rem;
  font-weight: bold;
  color: #343a40;
  text-transform: uppercase;
  text-align: center;
}
.section-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff;
}

/* Immagine logo */
.logo-img {
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Link indirizzo */
.address-link {
  font-size: 1.1rem;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}
.address-link:hover {
  text-decoration: underline;
}

/* Mappa */
#map {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #007bff;
}

/* Footer */
footer {
  background-color: #000; /* Sfondo nero */
}
.footer-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem; /* Icone più grandi */
  transition: transform 0.2s ease-in-out;
}
.footer-link:hover {
  transform: scale(1.3); /* Effetto ingrandimento */
}

